{% extends "base.html" %}
{% load static %}

{% block title %}- Login{% endblock %}

{% block title-bar %}
<title-bar style="--d:flex; --fd:column; --fd-sm:row; --jc:center; --ai:center; --mb:0.6em">

     <img src="{% static 'images/whimiswise2.png' %}" alt="The Study" class="logo" style="width:300px; height:300px; --mb: -5em;">
</title-bar>
{% endblock %}

{% block back-button %}
{% endblock %}

{% block auth-links %}
{% endblock %}

{% block content %}
<card>
    <section style="--d:flex; --fd:column; --jc:center; --ai:center; --weight:bold; --c:#7091e6; --mb:0.6em">
        <h2>
            {% if title %}
            {{ title }}
            {% else %}
            Sign In
            {% endif %}
        </h2>

        {% if welcome_message %}
        <p>{{ welcome_message }}</p>
        {% endif %}

        {% if messages %}
        <div style="--w:100%; --mb:1em">
            {% for message in messages %}
            <div style="--p:1em; --mb:1em; --bgc:{% if message.tags == 'success' %}#d4edda{% elif message.tags == 'error' %}#f8d7da{% else %}#cce5ff{% endif %}; --b:1px solid {% if message.tags == 'success' %}#c3e6cb{% elif message.tags == 'error' %}#f5c6cb{% else %}#b8daff{% endif %}; --br:0.25em;">
                <p style="--c:{% if message.tags == 'success' %}#155724{% elif message.tags == 'error' %}#721c24{% else %}#004085{% endif %}; --weight:bold; --m:0;">
                    {{ message }}
                </p>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if form.errors %}
        <p style="--c:#d9534f; --weight:bold">Your username and password don't match an active account. Please try again.</p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p style="--c:#0275d8">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
        <p style="--c:#0275d8">Please login to access this page.</p>
        {% endif %}
        {% endif %}
    </section>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div style="--mb:1em">
            <label for="id_username" style="--c:#7091e6; --weight:bold">{{ form.username.label }}</label>
            {{ form.username }}
        </div>

        <div style="--mb:1em">
            <label for="id_password" style="--c:#7091e6; --weight:bold">{{ form.password.label }}</label>
            {{ form.password }}
        </div>

        <div style="--ta:right">
            <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
        </div>

         <div class="button-row">
                <div class="button-wrap">
                    <button class="glass-button" type="submit">
                    <span>SEND</span>
                    </button>
                    <div class="button-shadow"></div>
                </div>
                </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <div style="--ta:center; --mt:1em">
        <p>Don't have an account? <a href="{% url 'register' %}" style="--c:#7091e6; --weight:bold">Sign Up</a></p>
    </div>

</card>

<style>
    @property --angle-1 {
      syntax: "<angle>";
      inherits: false;
      initial-value: -75deg;
    }

    @property --angle-2 {
      syntax: "<angle>";
      inherits: false;
      initial-value: -45deg;
    }

    :root {
      --global--size: clamp(2rem, 4vw, 5rem);
      --anim--hover-time: 400ms;
      --anim--hover-ease: cubic-bezier(0.25, 1, 0.5, 1);
    }

    .button-wrap {
      position: relative;
      z-index: 2;
      border-radius: 999vw;
      background: transparent;
      pointer-events: none;
      transition: all var(--anim--hover-time) var(--anim--hover-ease);
    }

    .button-shadow {
      --shadow-cuttoff-fix: 2em;
      position: absolute;
      width: calc(100% + var(--shadow-cuttoff-fix));
      height: calc(100% + var(--shadow-cuttoff-fix));
      top: calc(0% - var(--shadow-cuttoff-fix) / 2);
      left: calc(0% - var(--shadow-cuttoff-fix) / 2);
      filter: blur(clamp(2px, 0.125em, 12px));
      pointer-events: none;
    }

    .button-shadow::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 999vw;
      background: linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0.1));
      width: calc(100% - var(--shadow-cuttoff-fix) - 0.25em);
      height: calc(100% - var(--shadow-cuttoff-fix) - 0.25em);
      top: calc(var(--shadow-cuttoff-fix) - 0.5em);
      left: calc(var(--shadow-cuttoff-fix) - 0.875em);
      padding: 0.125em;
      box-sizing: border-box;
      mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
      mask-composite: exclude;
    }

    .glass-button {
      --border-width: clamp(1px, 0.0625em, 4px);
      all: unset;
      cursor: pointer;
      position: relative;
      z-index: 3;
      pointer-events: auto;
      border-radius: 999vw;
      background: linear-gradient(-75deg, rgba(1, 213, 255,0.05), rgba(1, 213, 255,0.2), rgba(1, 213, 255,0.05));
      box-shadow:
        inset 0 0.125em 0.125em rgba(0,0,0,0.05),
        inset 0 -0.125em 0.125em rgba(255,255,255,0.5),
        0 0.25em 0.125em -0.125em rgba(0,0,0,0.2),
        0 0 0.1em 0.25em inset rgba(255,255,255,0.2),
        0 0 0 0 rgba(255,255,255,1);
      backdrop-filter: blur(clamp(1px, 0.125em, 4px));
      transition: all var(--anim--hover-time) var(--anim--hover-ease);
      min-width: 220px;
      text-align: center;
      font-size: 15px;
      -webkit-tap-highlight-color: transparent;
          -webkit-touch-callout: none;
          user-select: none;
    }

    .glass-button:hover {
      transform: scale(0.975);
      backdrop-filter: blur(0.01em);
      box-shadow:
        inset 0 0.125em 0.125em rgba(0,0,0,0.05),
        inset 0 -0.125em 0.125em rgba(255,255,255,0.5),
        0 0.15em 0.05em -0.1em rgba(0,0,0,0.25),
        0 0 0.05em 0.1em inset rgba(255,255,255,0.5),
        0 0 0 0 rgba(255,255,255,1);
    }

    .glass-button span {
      display: block;
      position: relative;
      font-weight: 500;
      letter-spacing: -0.05em;
      color: #323232;
      text-shadow: 0em 0.25em 0.05em rgba(0,0,0,0.1);
      padding: 0.875em 1.5em;
    }

    .glass-button span::after {
      content: "";
      position: absolute;
      z-index: 1;
      width: calc(100% - var(--border-width));
      height: calc(100% - var(--border-width));
      top: calc(var(--border-width) / 2);
      left: calc(var(--border-width) / 2);
      border-radius: 999vw;
      background: linear-gradient(var(--angle-2), rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 40% 50%, rgba(255,255,255,0) 55%);
      background-size: 200% 200%;
      background-position: 0% 50%;
      mix-blend-mode: screen;
      pointer-events: none;
      transition: background-position calc(var(--anim--hover-time) * 1.25) var(--anim--hover-ease), --angle-2 calc(var(--anim--hover-time) * 1.25) var(--anim--hover-ease);
    }

    .glass-button:hover span::after {
      background-position: 25% 50%;
    }

    .glass-button:active span::after {
      background-position: 50% 15%;
      --angle-2: -15deg;
    }

    .glass-button::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 999vw;
      width: calc(100% + var(--border-width));
      height: calc(100% + var(--border-width));
      top: calc(0% - var(--border-width) / 2);
      left: calc(0% - var(--border-width) / 2);
      padding: var(--border-width);
      background: conic-gradient(
        from var(--angle-1) at 50% 50%,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0) 5% 40%,
        rgba(0,0,0,0.5) 50%,
        rgba(0,0,0,0) 60% 95%,
        rgba(0,0,0,0.5)
      ),
      linear-gradient(180deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5));
      mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
      mask-composite: exclude;
      transition: all var(--anim--hover-time) var(--anim--hover-ease), --angle-1 500ms ease;
      box-shadow: inset 0 0 0 calc(var(--border-width) / 2) rgba(255,255,255,0.5);
    }

    .glass-button:hover::after {
      --angle-1: -125deg;
    }

    .glass-button:active::after {
      --angle-1: -75deg;
    }

    .button-container {
      --w: 100%;
      --ai: center;
      --fd: column;
      --d: flex;
      --mt: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 50px;
    }

    .button-row {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 1100px;
      padding: 0 5vw;
      gap: 80px;
      
    }
    @media (max-width: 768px) {
       
        .button-row {
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 0 5vw;
        }
            
        .button-wrap {
            width: 100%;
        }

        .glass-button {
            width: 100%;
            
        }
    }
  </style>
{% endblock %}