{% extends "accounts/base.html" %}
{% load account_filters %}
{% load static %}

{% block inner_title %}Dashboard{% endblock %}

{% block header %}Account Dashboard{% endblock %}

{% block inner_content %}
<div class="container" style="--maxw:1200px; --m:0 auto; --p:20px">
    {% if profile_exists %}
    <div class="card" style="--mb:20px; --p:15px; --b:1px solid #ddd; --radius:5px">
        <div style="--d:flex; --ai:center; --mb:20px">
            {% if person.profile_picture %}
                <img src="{{ person.profile_picture.url }}" alt="{{ person }}" style="--w:100px; --h:100px; --radius:50%; --objf:cover; --mr:20px">
            {% else %}
                <div style="--w:100px; --h:100px; --radius:50%; --bgc:#ccc; --d:flex; --ai:center; --jc:center; --mr:20px">
                    <span style="--size:36px; --c:#fff">{{ person.user.first_name|first }}{{ person.user.last_name|first }}</span>
                </div>
            {% endif %}
            <div>
                <h1 style="--m:0">{{ person.user.get_full_name|default:person.user.username }}</h1>
                {% if person.role %}
                    <p style="--m:5px 0 0 0">{{ person.role.title }}</p>
                {% endif %}
                {% if person.graduating_year %}
                    <p style="--m:5px 0 0 0">Graduating Year: {{ person.graduating_year }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% if students %}
        <div class="card">
            <h3>Your Students</h3>
            {% for student in students %}
                <div class="student-card">
                    {% if student.profile_picture %}
                        <img src="{{ student.profile_picture.url }}" alt="{{ student }}" style="--w:50px; --h:50px; --radius:50%; --objf:cover">
                    {% else %}
                        <div style="--w:50px; --h:46px; --radius:50%; --bgc:#ccc; --d:flex; --ai:center; --jc:center">
                            <span style="--size:18px; --c:#fff">{{ student.user.first_name|first }}{{ student.user.last_name|first }}</span>
                        </div>
                    {% endif %}
                    <div class="student-info" style="--w:100%">
                        <strong>{{ student.user.get_full_name|default:student.user.username }}</strong>
                        <div>Relationship: {{ student_relationships|get_item:student.id|default:"Guardian" }}</div>
                        <div style="--d:flex; --ac:center; --jc:space-evenly">
                            <a style="--d:block" href="{% url 'experiences:person_detail' student.id %}">View Profile</a>
                            <a style="--d:block"  href="{% url 'experiences:participation_list' %}?person={{ student.id }}">View Participations</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if guardians %}
        <div class="card">
            <h3>Your Guardians</h3>
            {% for guardian in guardians %}
                <div class="student-card">
                    {% if guardian.profile_picture %}
                        <img src="{{ guardian.profile_picture.url }}" alt="{{ guardian }}" style="--w:50px; --h:50px; --radius:50%; --objf:cover">
                    {% else %}
                        <div style="--w:50px; --h:50px; --radius:50%; --bgc:#ccc; --d:flex; --ai:center; --jc:center">
                            <span style="--size:18px; --c:#fff">{{ guardian.user.first_name|first }}{{ guardian.user.last_name|first }}</span>
                        </div>
                    {% endif %}
                    <div class="student-info">
                        <strong>{{ guardian.user.get_full_name|default:guardian.user.username }}</strong>
                        <div>Relationship: {{ guardian_relationships|get_item:guardian.id|default:"student" }}</div>
                        <div>
                            <a href="{% url 'experiences:person_detail' guardian.id %}">View Profile</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="card">
  <h3>Your Activities</h3>
  <div class="button-row" style="--mt: 30px; --mb: 30px;">
    <div class="button-wrap">
      {% if slideshow_url %}
        <a href="{{ slideshow_url }}" class="glass-button" style="font-size: 25px;">
          <br>
          <img src="{% static 'images/hazardous-chemical.png' %}" style="width: 120px;" alt="Corrosion symbol" class="pictogram">
          <span><strong>Launch WHMIS <br> Slideshow</strong></span>
          <br>
        </a>
      {% else %}
        <a class="glass-button disabled" style="font-size: 25px; opacity: 0.6; pointer-events: none;">
          <br>
          <img src="{% static 'images/hazardous-chemical.png' %}" style="width: 120px;" alt="Corrosion symbol" class="pictogram">
          <span><strong>No WHMIS Assigned</strong></span>
          <br>
        </a>
      {% endif %}
      <div class="button-shadow"></div>
    </div>
  </div>
</div>
        <!--{% if participations_preview %}
            <ul>
                {% for participation in participations_preview %}
                    <li style="--mb:15px; --d:flex; --ai:center; --jc:space-between">
                        <div>
                            <a href="{% url 'experiences:participation_detail' participation.id %}">
                                {{ participation.group.name }} ({{ participation.years|join:", " }})
                            </a>
                            visibility toggle 
                            <form method="post" action="{% url 'accounts:toggle_participation_visibility' participation.id %}" style="--d:inline">
                                {% csrf_token %}
                                <label>
                                    <input type="checkbox" name="is_public" {% if participation.is_public %}checked{% endif %} onchange="this.form.submit()">
                                    Public
                                </label>
                            </form>
                        </div>
                    </li>
                 {% endfor %}
            </ul>

            {% if has_more_participations %}
                <a href="{% url 'experiences:participation_list' %}?person={{ person.id }}">View all certifications</a>
            {% endif %} -->

        {% else %}
            <!-- START OF CERTIFICATE BUTTON ADDITION -->
            {% if certificate %}
                <div class="button-row" style="--mt:30px;">
                    <div class="button-wrap">
                        <a href="{% url 'polls:certificate' %}" class="glass-button" style="font-size: 20px;">
                            <span>🎓 View your Certificate</span>
                        </a>
                        <div class="button-shadow"></div>
                    </div>
                </div>
            {% else %}
            <!-- END OF CERTIFICATE BUTTON ADDITION -->
                <p>You have no Certifications yet!</p>
                {% endif %}
            {% if person.role|lower == 'parent' %}
                <div class="parent-suggestion" style="--mt:15px; --p:10px; --bgc:#f8f9fa; --bl:4px solid #7091e6; --radius:4px">
                    <p><strong>Get Involved!</strong> As a parent, you can participate in our vibrant parent community. Learn more at <a href="https://www.thestudy.qc.ca/about/parent-community" target="_blank">thestudy.qc.ca/about/parent-community</a>.</p>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% else %}
    <div class="card">
        <h2>Welcome to your account!</h2>
        <p>It looks like you don't have a profile set up yet. Create one to access all features.</p>
         <div class="button-row">
                <div class="button-wrap">
                    <a href="{% url 'accounts:create_profile' %}" class="glass-button" >
                    <span>Create Profile</span>
                    </a>
                    <div class="button-shadow"></div>
                </div>
                </div>
        
    </div>
    {% endif %}
</div>

<style>
    @property --angle-1 {
      syntax: "<angle>";
      inherits: false;
      initial-value: -75deg;
    }

    @property --angle-2 {
      syntax: "<angle>";
      inherits: false;
      initial-value: -45deg;
    }

    :root {
      --global--size: clamp(2rem, 4vw, 5rem);
      --anim--hover-time: 400ms;
      --anim--hover-ease: cubic-bezier(0.25, 1, 0.5, 1);
    }

    .button-wrap {
      position: relative;
      z-index: 2;
      border-radius: 999vw;
      background: transparent;
      pointer-events: none;
      transition: all var(--anim--hover-time) var(--anim--hover-ease);
    }

    .button-shadow {
      --shadow-cuttoff-fix: 2em;
      position: absolute;
      width: calc(100% + var(--shadow-cuttoff-fix));
      height: calc(100% + var(--shadow-cuttoff-fix));
      top: calc(0% - var(--shadow-cuttoff-fix) / 2);
      left: calc(0% - var(--shadow-cuttoff-fix) / 2);
      filter: blur(clamp(2px, 0.125em, 12px));
      pointer-events: none;
    }

    .button-shadow::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 999vw;
      background: linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0.1));
      width: calc(100% - var(--shadow-cuttoff-fix) - 0.25em);
      height: calc(100% - var(--shadow-cuttoff-fix) - 0.25em);
      top: calc(var(--shadow-cuttoff-fix) - 0.5em);
      left: calc(var(--shadow-cuttoff-fix) - 0.875em);
      padding: 0.125em;
      box-sizing: border-box;
      mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
      mask-composite: exclude;
    }

    .glass-button {
      --border-width: clamp(1px, 0.0625em, 4px);
      all: unset;
      display: inline-block;
      cursor: pointer;
      position: relative;
      z-index: 3;
      pointer-events: auto;
      border-radius: 999vw;
      background: linear-gradient(-75deg, rgba(1, 213, 255,0.05), rgba(1, 213, 255,0.2), rgba(1, 213, 255,0.05));
      box-shadow:
        inset 0 0.125em 0.125em rgba(0,0,0,0.05),
        inset 0 -0.125em 0.125em rgba(255,255,255,0.5),
        0 0.25em 0.125em -0.125em rgba(0,0,0,0.2),
        0 0 0.1em 0.25em inset rgba(255,255,255,0.2),
        0 0 0 0 rgba(255,255,255,1);
      backdrop-filter: blur(clamp(1px, 0.125em, 4px));
      transition: all var(--anim--hover-time) var(--anim--hover-ease);
      min-width: 220px;
      text-align: center;
      font-size: 15px;
      -webkit-tap-highlight-color: transparent;
          -webkit-touch-callout: none;
          user-select: none;
    }

    .glass-button:hover {
      transform: scale(0.975);
      backdrop-filter: blur(0.01em);
      box-shadow:
        inset 0 0.125em 0.125em rgba(0,0,0,0.05),
        inset 0 -0.125em 0.125em rgba(255,255,255,0.5),
        0 0.15em 0.05em -0.1em rgba(0,0,0,0.25),
        0 0 0.05em 0.1em inset rgba(255,255,255,0.5),
        0 0 0 0 rgba(255,255,255,1);
    }

    .glass-button span {
      display: block;
      position: relative;
      font-weight: 500;
      letter-spacing: -0.05em;
      color: #323232;
      text-shadow: 0em 0.25em 0.05em rgba(0,0,0,0.1);
      padding: 0.875em 1.5em;
    }

    .glass-button span::after {
      content: "";
      position: absolute;
      z-index: 1;
      width: calc(100% - var(--border-width));
      height: calc(100% - var(--border-width));
      top: calc(var(--border-width) / 2);
      left: calc(var(--border-width) / 2);
      border-radius: 999vw;
      background: linear-gradient(var(--angle-2), rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 40% 50%, rgba(255,255,255,0) 55%);
      background-size: 200% 200%;
      background-position: 0% 50%;
      mix-blend-mode: screen;
      pointer-events: none;
      transition: background-position calc(var(--anim--hover-time) * 1.25) var(--anim--hover-ease), --angle-2 calc(var(--anim--hover-time) * 1.25) var(--anim--hover-ease);
    }

    .glass-button:hover span::after {
      background-position: 25% 50%;
    }

    .glass-button:active span::after {
      background-position: 50% 15%;
      --angle-2: -15deg;
    }

    .glass-button::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 999vw;
      width: calc(100% + var(--border-width));
      height: calc(100% + var(--border-width));
      top: calc(0% - var(--border-width) / 2);
      left: calc(0% - var(--border-width) / 2);
      padding: var(--border-width);
      background: conic-gradient(
        from var(--angle-1) at 50% 50%,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0) 5% 40%,
        rgba(0,0,0,0.5) 50%,
        rgba(0,0,0,0) 60% 95%,
        rgba(0,0,0,0.5)
      ),
      linear-gradient(180deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5));
      mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
      mask-composite: exclude;
      transition: all var(--anim--hover-time) var(--anim--hover-ease), --angle-1 500ms ease;
      box-shadow: inset 0 0 0 calc(var(--border-width) / 2) rgba(255,255,255,0.5);
    }

    .glass-button:hover::after {
      --angle-1: -125deg;
    }

    .glass-button:active::after {
      --angle-1: -75deg;
    }

    .button-container {
      --w: 100%;
      --ai: center;
      --fd: column;
      --d: flex;
      --mt: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 50px;
    }

    .button-row {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 1100px;
      padding: 0 5vw;
      gap: 80px;
      
    }
    @media (max-width: 768px) {
       
        .button-row {
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 0 5vw;
        }
            
        .button-wrap {
            width: 100%;
        }

        .glass-button {
            width: 100%;
            
        }
    }
  </style>
{% endblock %}